<div id='chat-detail' ng-controller="ChatDetailCtrl" style="margin-bottom: 25%;">
	
	<div class="card text-xs-center" ng-repeat="val in messages" style="border: 1px solid grey; border-radius: 5px; margin-bottom: 3%;">
		<div class="card-block" style="padding: 1%; min-height: 100px;">
			<p class="card-text">{{val.messageDescription}}</p>
		</div>
	</div>
	
	
	<footer>
		<div class="navbar navbar-default navbar-fixed-bottom" style="width: 100%; text-align: center; padding-top: 1%;">
			<input placeholder="Send Message..." ng-model="messageDescription" style="width: 75%;" />
	
			<button type="button" class="btn btn-primary" ng-model="sendMessageButton" ng-disabled="!messageDescription" ng-click="submitMessage(); reset()">
				Send
			</button>
		</div>
	</footer>
	
	
</div>