<div ng-controller="LoginCtrl">
	
	<div class="card" style="border: 1px solid grey; border-radius: 5px; padding: 3%;">
		<img class="card-img-top" data-src="..." alt="Card image cap">
		<div class="card-block">
			<h4 class="card-title">Card title</h4>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<a href="#" class="btn btn-primary">Button</a>
		</div>
	</div>
	
	<button href="#" ng-click="ref.unauth(); logout()">
		<i class="icon ion-power" style="color: #ff3823;"></i>
		Logout
	</button>
</div>