<div ng-controller="LoginCtrl">
	<div class="list">
		<label class="item item-input" style="border-left: none; border-right: none;">
			<input class="has-header" type="text" placeholder="Email" ng-model="username">
		</label>
		<label class="item item-input" style="border-left: none; border-right: none;">
			<input type="password" placeholder="Password" ng-model="password">
		</label>
	</div>
	<button ng-click="login(username, password)" class="button button-block button-positive"> 
		Login 
	</button>
	<button ng-click="register(username, password)" class="button button-block button-dark"> 
		Sign Up 
	</button>
	
	<!--<button ng-click="resetPass()" class="button button-block button-dark"> 
		Reset Password 
	</button>-->
</div>