<div ng-controller="LoginCtrl" style="text-align: center;">
	<div class="list">
		<label class="item item-input" style="border-left: none; border-right: none; width: 100%;">
			<input class="has-header" type="text" placeholder="Email" ng-model="username" style="width: 90%;">
		</label>
		<label class="item item-input" style="border-left: none; border-right: none; width: 100%;">
			<input type="password" placeholder="Password" ng-model="password" style="width: 90%;">
		</label>
	</div>
	<button ng-click="login(username, password)"> 
		Login 
	</button>
	<button ng-click="register(username, password)"> 
		Sign Up 
	</button>
	
	<!--<button ng-click="resetPass()" class="button button-block button-dark"> 
		Reset Password 
	</button>-->
</div>